
<div class="footer">
    <div class="footer-area1">
        <div class="footer-items1">
            <h2>關於 六角西餐廳</h2>
            <p>Curabitur lobortis id lorem id bibndum.<br>
                Ut id consectetur magna. Quisque<br>
                volutpat augue enim, pulvinar lobortis<br>
                nibh lacinia at. </p>
        </div>
        <div class="footer-items2">
            <h2>聯絡方式</h2>
            <ul>
                <li><a href="#">高雄市中正五路到底</a></li>
                <li><a href="tel:+886 886 886">+886 886 886</a></li>
                <li><a href="mailto:service@hexschool.com">service@hexschool.com</a></li>
            </ul>
        </div>
    </div>
    <div class="footer-area2">
        <div class="footer-items3">
            <img src="/assets/images/logo_l(null).jpg" alt="logo_l">
        </div>
        <div class="footer-items4">
            <a target="_blank" href="#"><img src="/assets/images/facebook.png" alt="facebook"></a>
            <a target="_blank" href="#"><img src="/assets/images/instagram.png" alt="instagram"></a>
            <a target="_blank" href="#"><img src="/assets/images/twitter.png" alt="twitter"></a>
        </div>
    </div>
</div>