

<div class="header">
    <div class="menu">
        <div class="menu-logo">
            <h1 class="logo"><a href="#">logo</a></h1>
        </div>
        <ul class="menu-area">
            <li><a href="#">特色</a></li>
            <li><a href="#">主廚</a></li>
            <li><a href="#">地圖</a></li>
        </ul>
    </div>
    <div class="nav">
        <div class="nav-area">
            <div class="pic1">
                <img src="../assets/images/header_desktop.png" alt="header_desktop">
            </div>
            <div class="tit1">
                <p class="fsz-36">咬一口就無法忘懷的漢堡</p>
                <p>七夕絕對無法錯過的好滋味</p>
                <p><span class="material-symbols-outlined">restaurant</span>
                    六角大漢堡
                    <span class="material-symbols-outlined">restaurant</span>
                </p>
            </div>
        </div>
    </div>
</div>