
//icon
.material-symbols-outlined {
    color:#fff;
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
}

//nav
.pic1{
    display:flex;
    justify-content:center;
    align-items:center;
}
.pic1 img{
    position:absolute;
    z-index:0;
    top: 0;
    background-position: center center;
    background-size: cover;
}


//menu
.menu{
    background: rgba(56, 55, 55, 0.308);
    //background-image: repearing-linear-gradient(75%);

    display:flex;
    justify-content:space-between;
    align-items:center;
}


//logo
h1 a{
    background-image: url(../assets/images/logo_w.png);
    display:block;
    width: 120px;
    height: 24px;
    text-indent:25em;
    overflow:hidden;
    white-space:nowrap;
}