
//icon
.material-symbols-outlined {
    color:#fff;
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
}

//nav
.pic1{
    display:flex;
    justify-content:center;
    align-items:center;
    z-index:-1;
}
.pic1 img{
    width: 100%;
    display:block;
    background-position: center center;
    background-size: auto;
}


//menu
.menu{
    background: rgba(0,0,0,0.75);
    position:absolute;
    z-index:1;
    width: 100%;/* 確保 menu 占滿整個寬度，這樣 justify-content 才能生效 */
    height: 56px;

    display:flex;
    justify-content:space-between;
    align-items:center;
}
.menu-area {
    display: flex;
    margin-right: 20px;
    border:3px solid Transparent;
    li {
        margin-left: 15px; /* 調整各個 menu item 之間的距離 */
    }
    a{
        padding:6px;
        padding-bottom: 20px;

        &:hover{
            color:#FFFF30;
            border-bottom:3px solid #FFFF30;
        }
    }
}


//logo
h1 a{
    background-image: url(../assets/images/logo_w.png);
    display:block;
    width: 120px;
    height: 24px;
    margin: 10px;
    text-indent:25em;
    overflow:hidden;
    white-space:nowrap;
}


.nav{
    position:relative;

    .tit1{
        position:absolute;
        z-index:100;
        background: rgba(0,0,0,0.35);
        color:#fff;
        left: 700px;
        top: 200px;
    }
    @media(max-width:1024px){
        .tit1{
            left: 300px;
            top: 50px;
        }
    }
}

.tit1 p{
    padding: 20px;
    text-align:center;
}