<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, user-scalable=no,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0" />

    <link rel="icon" href="burger.jpg">

    <meta name="description" content="訂餐服務">
    <meta name="keywords" content="六角餐廳,訂餐,西餐廳,米其林">

    <meta property="og:title" content="六角西餐廳">
    <meta property="og:description" content="訂餐服務">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://zh-tw.facebook.com/">
    <meta property="og:image" content="https://drive.google.com/thumbnail?id=1OI5K2EHh53H86QGUzB1GFR0CmNPeEvob">

    <script src="../js/jquery-3.7.1.min.js"></script>
    <link rel="stylesheet" href="myProjects/webProject/icofont/css/icofont.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&family=Noto+Serif+TC:wght@200..900&display=swap" rel="stylesheet">


    <title>六角西餐廳</title>
  </head>
  <body>

    
    <div class="container">
    <%- include('./layout/header'); -%>

    

    </div>



    




    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
